# Exercise 8: Lists

Let's rehearse what we learned about lists. Don't forget to print out your results in the nicest way possible, both for clarity and to work on your string formatting!

## 8.1 Manipulating lists
### Ex. 8.1.1
Create a list containing numbers from `0` to `n` (use the `range` function). Then
* Add the element `-1` at the beginning of the list
* Add the element `n+1` at the end of list
* Add elements `n+2` to `n+m` at the end of the list

In [ ]:
n = 10
m = 5

### Ex. 8.1.2
Modify the list `numbers` as follows:
* remove the element with value `8`
* remove the 3rd element and put it back at the end of the list
* change the value of the "second to last" (vorletztes) element to `10` (assume you don't know the length of the list)

In [ ]:
numbers = [1, 2, 8, 6, 3, 4, 5]
print(numbers)

### Ex. 8.1.3
Create a list containing the squares of the elements of `l1` (use a for loop). Then sort the list in descending order.

In [ ]:
l1 = [3, 2, 9, 1]

### Ex. 8.1.4
Below I created a list `data` of random values drawn from a Gaussian distribution. Find its median (Reminder: the median is the value for which 50% of the values in the data are above it and 50% are below.)

In [ ]:
import random
n_data = 1001
mu = 2
sigma = 3
data = [random.gauss(mu, sigma) for i in range(n_data)]

### Ex. 8.1.5
In the list below, replace every occurence of `"pi"` by `3.14`. To assign a new value to an element of a list, use indexing e.g. `angles[i] = 3.14`.

In [ ]:
angles = [1.3, "pi", -0.1, "pi"]

## 8.2 Nested Lists
### Ex. 8.2.1: Predictive power of Phil the groundhog
Below we have the data from 22 years of the groundhog day in Punxsutawney. Tradition is that if Phil (the groundhog) sees his shadow, winter will last 6 more weeks, otherwise it will be early spring. `data` has 22 rows and 3 columns. First column is the year, second is whether Phil saw his shadow or not, and third the average temperature of February of that year.
* Split the data into two lists, one containing the temperatures for the years with `No shadow` and one for the years with `Full Shadow`
* Calculate and print the average temperature for these two lists (you can use a for loop, or simply the `sum` function)

In [ ]:
data = [[1995, "No Shadow", 37.36],
        [1996, "Full Shadow", 35.69],
        [1997, "No Shadow", 36.05],
        [1998, "Full Shadow", 38.71],
        [1999, "No Shadow", 39.49],
        [2000, "Full Shadow", 39.78],
        [2001, "Full Shadow", 33.98],
        [2002, "Full Shadow", 36.39],
        [2003, "Full Shadow", 32.79],
        [2004, "Full Shadow", 33.57],
        [2005, "Full Shadow", 37.94],
        [2006, "Full Shadow", 34.83],
        [2007, "No Shadow", 32.41],
        [2008, "Full Shadow", 34.7],
        [2009, "Full Shadow", 36.77],
        [2010, "Full Shadow", 31.8],
        [2011, "No Shadow", 33.04],
        [2012, "Full Shadow", 37.51],
        [2013, "No Shadow", 34.77],
        [2014, "Full Shadow", 32.13],
        [2015, "Full Shadow", 32.99],
        [2016, "No Shadow", 39.47],
       ]
no_shadow = []
shadow = []

# Supplementary exercises

### Ex. 8.2.2
We have a `table` of measurements with 4 rows and 2 columns. The first column is the number of times a given
measurement occured, while the second column is the value of that measurement. Calculate the average value of the measurements (taking into account the number of times each measurement occured).

In [ ]:
table = [[2, 1.2], [5, 3.8], [1, 5.6], [3, -1.8]]

### Ex. 8.2.3

We have a pool of teams from different countries. Every team should play every other team once. 

* Generate the list of `games` (every game is itself a list containing the names of the two teams).
* Iterate over the `games` list and print out every game in the format *team1 vs team2*
* print out every game in a format where each team is on a separate line, and games are separated by 2 blank lines (use a nested for loop). *HINT: the new line escape sequence is `"\n"`*

In [ ]:
teams = ["France", "Germany", "Switzerland", "Spain"]

## Ex. 8.3
From the list below, create a non-redundant list, containing every value present in `non_unique` only once.

In [ ]:
non_unique = [1, 3, 5, 8, 2, 1, 4, 3, 2, 1]

## Ex. 8.4
Add elements of `l2` into `l1`, but grouping them by value, i.e. if the element from `l2` is already present in `l1`, add it next to it, otherwise simply add it at the end (remember you can get the position of an element with a certain value using `list.index(value)`).

In [ ]:
l1 = [1, 3, 4, 8]
l2 = [2, 4, 2, 6, 8, 4]

## Ex. 8.5
Sort the words in this comma-separated list of words (i.e return a string of comma separated words that are alphabetically sorted), print the result.

In [ ]:
words = "cheese, spam, egg, spam, bacon, spam"

## Ex. 8.6
Imagine you have read in the data from a csv file as a string. This is a table with two columns and 10 rows. The first column represents a categorical feature `factor` and the second column a numerical feature `value`.
* Parse the data and put it in a list containing two lists, one for each column
* Calculate the difference in the averages relative to the categorical feature ($\mu_1-\mu_2$, where $\mu_1$ is the average `value` when `factor` is $0$ and $\mu_2$ when the `factor` is $1$).
* Calculate the variance of each group ($\sigma_1$ and $\sigma_2$)
* Estimate the t-statistic $\frac{\mu_1-\mu_2}{((\sigma_1^2+\sigma_2^2)/n)^{0.5}}$, $n$ being the total number of observations

In [ ]:
data_str = "factor, value\n 1, 58.4 \n 0, 43.2\n 0, 50.0\n 1, 62.4\n 1, 58.4\n" +\
            "0, 53.2 \n 1, 59.7\n 1, 52.9\n 1, 49.4\n 0, 52.4"